@import 'colors';

body
    background:  #ffffff
    h1
        color: blue
        text-align: center
        font-size: 6em

.md-container-buttons
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    flex-direction: column

    button
        padding: 2em
        width: 10em
        background: blue
        color: #ffffff
        font-size: 1rem
        cursor: pointer
        border-style: none