@import 'colors';

.md-container-tootip-hide
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.63s linear;
    p
        text-align: center
        color: #ffffff;


.md-container-tooltip-show
    background: black
    width: 14em
    visibility: visible
    opacity: 1
    transition-delay: 0s
    position: relative
    margin-top: 1em
    p
        color: #ffffff;


.md-container-tooltip-show-left
    background: blue
    width: 14em
    visibility: visible
    opacity: 1
    transition-delay: 0s
    position: relative
    margin-top: 1em
    margin-left: 7em
    p
        color: #ffffff;


.md-container-tooltip-show-right
    background: red
    width: 14em
    visibility: visible
    opacity: 1
    transition-delay: 0s
    position: relative
    margin-top: 1em
    p
        color: #ffffff;


.md-container-tooltip-show-up
    background: yellow
    width: 14em
    visibility: visible
    opacity: 1
    transition-delay: 0s
    position: relative
    margin-top: 1em
    p
        color: #000000;


.md-container-tooltip-show-down
    background: pink
    width: 14em
    visibility: visible
    opacity: 1
    transition-delay: 0s
    position: bottom
    margin-top: 1em
    p
        color: #000000;

